body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h1 {
    color: #333;
}
p {
    color: #666;
}
.image-container {
    margin-top: 20px;
    border-radius: 20px;
}
img {
    max-width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}